.sidebar {
    width: 250px;
    background-color: #ffffff;
    padding: 20px;
    overflow-y: auto;
    border-left: 2px solid #ddd;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000; /* Ensure it's above the map */
    height: 100vh;
    transition: transform 0.3s ease; /* Smooth transition when hidden */
    transform: translateX(0); /* Default state */
}

/* Hide Sidebar for Smaller Screens */
@media (max-width: 768px) {
    .sidebar {
        transform: translateX(100%); /* Moves sidebar out of view */
    }
}

/* Sidebar Header */
.header h3 {
    font-size: 1.5em;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}

.header .title {
    color: #333;
}

.header small {
    font-size: 12px;
    color: gray;
}

/* Controls */
.controls {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* Form Controls */
.select-fieldset, .autocomplete input {
    border-radius: 5px;
    padding: 10px;
    background-color: #fcfbfb;
    border: 1px solid #ccc;
    width: 100%;
}

.select-fieldset label {
    font-size: 14px;
    color: #555;
}

.select-container select {
    padding: 8px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

/* Boundary Info */
.boundary-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

/* Switch */
.switch-container {
    display: flex;
    align-items: center;
}

.switch-container input {
    display: none;
}

.switch-container .slider {
    width: 34px;
    height: 20px;
    background: #ccc;
    border-radius: 34px;
    position: relative;
    cursor: pointer;
}

.switch-container input:checked + .slider {
    background: #4caf50;
}

.switch-container .slider:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 14px;
    height: 14px;
    background: white;
    border-radius: 50%;
    transition: 0.4s;
}

.switch-container input:checked + .slider:before {
    left: 17px;
}
